<app-employee></app-employee>
<hr>
<button class="btn btn-primary" (click)="Ondisplay()">Display button</button>
<div *ngIf="showbtn">Secreate tune on </div>
<div *ngFor="let logitem of logArray " [ngStyle]="{backgroundColor :logitem >=5 ?'blue':'tranparent'}" 
    [ngClass]="{'white-text':logitem >=5}"> {{logitem}} </div>
<div class="container">
<div class="row">
    <div class="col-xs-5">
        <app-username *ngFor="let serverElement of serverElements">
            <p>
                <strong *ngIf="serverElement.type ==='server'" style="color:red">{{ serverElement.content }}</strong>
               <em *ngIf= "serverElement.type ==='buleprint'" >{{ serverElement.content }}</em>
               </p>
            [element]="serverElement" 
        </app-username>
    </div>
</div>
</div>
<div class="row">
<div class="col-xs-5">
    <app-game (intervalFried)="onIntervalFried($event)"></app-game>
</div>
</div>
<div class="row">
<div class="col-xs-5">
    <app-odd *ngFor="let oddnumbers of oddnumber" [number]="oddnumbers" ></app-odd>
    <app-even  *ngFor="let evennumbers of evennumber" [number]="evennumbers" ></app-even>
    <div>
        <h4> Attribute Directive</h4>
        <p appBasichights>the style of the directive...</p>
        <p appBetterhighlight [defaultColor]="'yellow'" [highlightColor]="'black'">the  better-style of the directive...</p>
    </div>
    <div [ngSwitch]="value">
     <p *ngSwitchCase="5 ">Value is 5</p>
     <p *ngSwitchCase="10 ">Value is 10</p>
     <p *ngSwitchCase="100 "> Value is 100</p>
     <p *ngSwitchDefault>Value is default</p>
    </div>
</div>
</div>
